/*

Add styles or override variables from the theme here.

*/

// Disable righthand nav bar options
.td-page-meta--child { display: none !important; }

.td-page-meta--edit { display: none !important; }

.td-page-meta--view { display: none !important; }

.td-page-meta--issue { display: none !important; }
